---
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />

	<title>	TabNabber tools for piano and guitar tabs, tablature, chords, sheet music, notes</title>
	<link href="lib/defaultStyle1.1.css" rel="stylesheet" type="text/css" />
	<meta name="Description" content="Chords, notes, tab, tablature and sheet music for piano, keyboard, organ, synth, flute" />
	<meta name="Keywords" content="piano organ flute notes notation tab tablature sheet music chord keyboard song classical jazz rock" />
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-23x20.png">
	<script type="text/javascript" src="lib/convertFunctions.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

	{% include header.html %}

	<div style="overflow:auto">
		<div class="menu">

			{% include left.html %}

		</div>

		<div class="main">

			<div class=" pad10">


				<div class="lPad10">

					<h3 class="inlineBlock">
						How to Read Piano Tabs
						<!--<b>Tabs</b> are instructions on how to play music, often consisting of notes and chords.-->
					</h3>

					<div class="lPad20">
						<p class="space1-6">

							<img border="0" src="images/49keymapShort.png"><br />
							A 49 key piano with notes and octaves.<br />

						</p>
						<p>
							&quot;4|c&quot; or &quot;c4&quot; means note &quot;c&quot; on octave &quot;4&quot;
							which is the &quot;c&quot; key in the middle of this keyboard.
						</p>
						<p><strong>Reading tabs (simple):</strong></p>
						<p>
							Here's a simple example of an individual note piano tab... the scale of &quot;f&quot;.
						</p>
						<blockquote>
							<pre>
  4|---------c-d-e-f-|
  3|-f-g-a-A---------|</pre>
						</blockquote>
						<p><strong>Tabs are read from left to right </strong><span>(notes above and below each other are played simultaneously).</span></p>
						<p>
							<ul>
								<li>
									<strong>Numbers:</strong> indicate the octave (3 and 4 in the above example).
									Every octave starts on the &quot;c&quot; key and ends on the &quot;b&quot;. Octave 4 is located near the middle of a standard keyboard.
								</li>
								<li>
									<strong>Lowercase Letters:</strong> (a,b,c,d,e,f,g) represent the white keys <em>(the natural notes)</em>.
								</li>
								<li>
									<strong>UPPERcase Letters:</strong> (A,C,D,F,G) represent the black keys <em>(the sharp notes)</em>.
									For example, &quot;A&quot; represents &quot;A#&quot;, &quot;C&quot; represents &quot;C#&quot;, and so on.
									<ul>
										<li>
											<b>A Note on Flats:</b> For simplicity, this system uses only sharps, not flats.
											So, a &quot;b&quot; flat would be written as its enharmonic equivalent, &quot;A&quot; (or &quot;A#&quot;).
										</li>
										<li>
											The Upper/lower case method is recommended as it saves space and avoids confusion with flats and &quot;b&quot; notes.
										</li>
									</ul>
								</li>
								<li>
									<strong>&quot;|&quot; symbols:</strong> The vertical bar &quot;|&quot; separates measures or sections of the music.


								</li>
								<li>
									<strong>&quot;-&quot; symbols:</strong>
									The dashes &quot;-&quot; represent timing. More dashes between notes mean a longer duration is held—think of them as 
									representing the note's rhythmic value.
								</li>
							</ul>
							
							
						</p>

						<p>
							<h2>Reading Piano Tabs (advanced options):</h2>
						</p>
						<p>
							Piano tabs can describe individual notes
							(as seen above) or chord names or both. Here's a more advanced example of a piano tab that describes both:
						</p>
						<blockquote>
							<pre><span>       [</span><strong>D</strong><span>]      [</span><strong>Gm</strong><span>]
  R 3|--a-d-F-|--g-d-g-|--------|
  L 2|F>d>>>>>|g>d>>>>>|F.------|x2
  L 1|F>F>>>>>|g>A>>>>>|F.------|
      
</span></pre>
						</blockquote>
						<p>
							<ul>
								<li>
									<strong>Letters on the top line: </strong>indicate chord names (the [D] and the [Gm] above).
								</li>
								<li><strong>&quot;R&quot;: </strong> indicates the notes on the line are played on the <strong>R</strong>ight hand</li>
								<li><strong>&quot;L&quot;: </strong> indicates the notes on the line are played on the <strong>L</strong>eft hand</li>
								<li><strong>&quot;&gt;&quot; symbols: </strong>indicate the note should be held/sustained</li>
								<li><strong>&quot;.&quot; symbols: </strong>indicate the note should be cut (for a staccato effect)</li>
								<li>
									<strong> &quot;x2&quot;: </strong>
									indicates the preceding staff lines (everything to the left) should be repeated the number of times indicated
									(2 in this example)
								</li>
							

							</ul>

							
						</p>
						<p><strong>Multiple Instrument / Track Tabs:</strong></p>
						<p>
							Multi-track tabs allow you to compose an entire symphony with multiple instruments / tracks in your songs.
							Here's an example of a simple multi-track tab:
						</p>
						<blockquote>
							<pre>  The first number or letter shown is the track/instrument.   
  ^ The second number shown is the octave.     
  ^ ^
  1:4|c-e-c-e---
      </pre><p>In the example above, the 1:4 means track/instrument 1, octave 4. This can also be written as:</p>
							<pre>
  P:4|c-e-c-e---
      
</pre><p>The 'P' signifies a 'Piano' track. Here are some other instrument options:</p><pre>
  F:5|c--------
  G:4|--e-e-e--
  D:3|d-d-D-d--
      
</pre><p>
								'F' is Flute, 'G' is Guitar, and 'D' is Drum (different notes/pitches of the drum track play different percussion sounds).
								But if you specify the instrument using the instrument numbers, there are 128 different instruments you can specify (1-128).
								For example:
							</p><pre>
 7:4|-----------c-e-------------------c-e-------
18:4|-------------------g>>>>>>>>>--------------
63:4|-----------------------------c-e-----------
 D:4|--dded--dded--dded--dded--dded--dded--dded-
     
</pre>
						</blockquote>



						<p><strong>Other Notations</strong></p><p>
							We get it. Tabs aren't everyone's <em>forte</em>.
								
								A universally accepted method to reading and writing music just does not exist, and that's probably a good thing.
								Our all natural organic tab notation is obviously the superior choice, but there hasn't ever been (and likely never will be)
								one and only one type of notation. The intricacies of the audio world simply cannot be captured in written notation without sacrificing reading
								comprehension for accuracy. Even if there was a common notation that everyone loved and used some jackhole with a website would probably come along
								with SongDong.com and ruin it for everyone. wait... what was I talking about again?
							<br /><br />


							<h3>Understanding Music Notation File Types</h3>
						<p>
							Here's a quick guide to some of the more common music file extensions.

						</p>
						<p><strong>.MID / .MIDI</strong></p>
						<p>
							<ul class="space1-6">
								<li><b>Used By:</b> Windows Media Player, VLC Media Player, others</li>
								<li>
									<b>What it is:</b> A universal file format containing musical data (notes and timing information) rather than actual audio.
									This makes MIDI files very small and easily editable with specialized software.
								</li>
								<li>
									<b>How to Use:</b> The notes within a MIDI file can be viewed and edited in most Digital Audio Workstations (DAWs).

									We are looking into bringing our own 'MIDI to Tab converter' (from Tabnabber) back online! Maybe.
								</li>
							</ul>
						</p>

						<p><strong>.NWC</strong></p>
						<p>
							<ul>
								<li><b>Used By:</b> Noteworthy Composer, NWC Viewer</li>
								<li>
									<b>What it is:</b> The native file format for this commercial music composition software.
								</li>
								<li>
									<b>How to Use:</b> To view an .NWC file you can use the <span class="fontsize1-3b">free</span> NWC Viewer.
									To edit an .NWC file you need the
									<a href="https://noteworthycomposer.com/" rel="nofollow ugc noopener">Noteworthy Composer</a> program. A free trial is available but lacks the ability to save.
								</li>
							</ul>
						</p>

						<p><strong>.MUS</strong></p>
						<p>
							<ul>
								<li><b>Used By:</b> Finale</li>
								<li>
									<b>What it is:</b> The native file format for Finale, a commercial music notation program by MakeMusic discontinued in 2024.
								</li>
								<li>
									<b>How to Use:</b> While Finale has been replaced by Steinberg's Dorico, you may be able to view .MUS files for free if you can find "Finale Notepad",
									a lightweight viewer once offered by MakeMusic.
								</li>
							</ul>
						</p>

						<p><strong>.OVE</strong></p><p>

						<p>
							<ul>
								<li><b>Used By:</b> Overture, Score Writer</li>
								<li>
									<b>What it is:</b> The native file format for the commercial music notation programs by <a href="http://sonicscores.com/" rel="nofollow ugc noopener">Sonic Scores</a>.
								</li>
								<li>
									<b>How to Use:</b> To view or edit .OVE files you will need either the &quot;Overture&quot; software or
									a slimmed down version of the product called &quot;Score Writer&quot; which is slightly more affordable.
								</li>
							</ul>
						</p>


						<p>
							<strong>.PDF</strong>
						</p>

						<p>
							<ul>
								<li><b>Used By:</b> Adobe Reader</li>
								<li>
									<b>What it is:</b> .PDF files can contain images of sheet music or scores.
								</li>
								<li>
									<b>How to Use:</b> They typically require software from <a href="http://www.adobe.com/" rel="nofollow ugc noopener">Adobe</a> to edit them,
									quality can be variable, and they can be difficult to read unless you know <a href="how-to-read-sheet-music-notes.html">how to read sheet music</a>.
								</li>
							</ul>
						</p>


						<p><strong>.PTB</strong></p>


						<p>
							<ul>
								<li><b>Used By:</b> Power Tab Editor</li>
								<li>
									<b>What it is:</b> The native file format for this <span class="fontsize1-3b">free</span> guitar and bass centric software by Brad Larsen.

								</li>
								<li>
									<b>How to Use:</b> .PTB files can be viewed and edited with the
									&quot;<a href="http://www.power-tab.net/downloads.php" rel="nofollow ugc noopener">Power Tab Editor</a>&quot; music composition or tab authoring tool.
								</li>
							</ul>
						</p>



						<p><strong>Image Files (.JPG, .GIF, .PNG, .TIF, .BMP)</strong></p>
						<p>
							<ul>
								<li>
									<b>What they are:</b> These are common image file formats. When used for music, they are typically scans or pictures of sheet music.

								</li>
								<li>
									<b>Important note:</b>
									Unlike the other formats listed, these are not editable music files.
									They are simply static images. This means you cannot easily play them back,
									transpose them, or extract the musical data. They are useful primarily for
									viewing or printing if you already know <a href="how-to-read-sheet-music-notes.html">how to read standard sheet music</a>.
								</li>
							</ul>
						</p>


						<p>
							<strong>.ZIP / .RAR</strong>
						</p>

						<p>
							<ul>
								<li>
									<b>What it is:</b> An archive format used to compress one or more files into a single, smaller package.
									It is often used to bundle multiple sheet music files (like PDFs or images) for easier distribution.
								</li>
								<li>
									<b>How to Use:</b>	These "archives" need to be extracted to access the files inside. Most modern operating systems 
									can natively handle .ZIP files. For .RAR files you will need a dedicated tool like 7-Zip, WinZip, or WinRAR (all free).
								</li>
								<li>
								<b>A Word of Caution:</b> While incredibly useful, always ensure you trust the source of a .ZIP or .RAR file before opening it, 
									as archives can potentially contain malicious software.

								</li>
							</ul>
						</p>


						<div>
							<hr />
						</div>





						<div class="pad10 inlineBlock">
							<a class="fontsize1-3b" href="how-to-read-guitar-tab-chords.html">How to Read Guitar Tabs</a><br />
							<a href="how-to-read-guitar-tab-chords.html" style="color:#00ff21">
								<div style="position: relative; text-align: center;">
									<img src="images/howToReadGuitarTabs2.png" alt="How to Read Guitar Tabs" />
									<div style="font-size:2.5em; text-shadow:2px 2px 14px black; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
										<b>Guitar Tab Guide</b>
									</div>
								</div>
							</a>
						</div>

						<div class=" pad10 inlineBlock">
							<a class="fontsize1-3b" href="how-to-read-sheet-music-notes.html">How to Read Sheet Music</a><br />
							<a href="how-to-read-sheet-music-notes.html" style="color:#00ff21">
								<div style="  position: relative;  text-align: center;">
									<img src="images/howToReadSheetMusic2.png" alt="How to Read Sheet Music" />
									<div style="font-size:2.5em; text-shadow: 2px 2px 14px black; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
										<b>Sheet Music Guide</b>
									</div>
								</div>
							</a>
						</div>



					</div>



				</div>

			</div>








	<div class="vertPad10 fontsize9">
		Last Updated: Nov 20, 2025
	</div>



	</div>


	{% include right.html %}

	</div>


	{% include footer.html %}

</body>
</html>

