---
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />

	<title>	TabNabber tools for piano and guitar tabs, tablature, chords, sheet music, notes</title>
	<link href="lib/defaultStyle.css" rel="stylesheet" type="text/css" />
	<meta name="Description" content="Chords, notes, tab, tablature and sheet music for piano, keyboard, organ, synth, flute" />
	<meta name="Keywords" content="piano organ flute notes notation tab tablature sheet music chord keyboard song classical jazz rock" />
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-23x20.png">
	<script type="text/javascript" src="lib/convertFunctions.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

	{% include header.html %}

	<div style="overflow:auto">
		<div class="menu">

			{% include left.html %}

		</div>

		<div class="main">

			<div class=" pad10">


				<div class="lPad10">

					<h3 class="inlineBlock">
						How to Read Piano Tabs
						<!--<b>Tabs</b> are instructions on how to play music, often consisting of notes and chords.-->
					</h3>

					<div class="lPad20">
						<p class="space1-6">

							<img border="0" src="images/49keymapShort.png"><br />
							A 49 key piano with notes and octaves.<br />

						</p>
						<p>
							&quot;4|c&quot; or &quot;c4&quot; means note &quot;c&quot; on octave &quot;4&quot; 
							which is the &quot;c&quot; key in the middle of this keyboard. 
						</p>
						<p><strong>Reading tabs (simple):</strong></p>
						<p>
							Here's a simple example of an individual note piano tab... the scale of &quot;f&quot;.
						</p>
						<blockquote>
							<pre>
  4|---------c-d-e-f-|
  3|-f-g-a-A---------|</pre>
						</blockquote>
						<p><strong>Tabs are read from left to right </strong><span>(notes above and below each other are played simultaneously).</span></p>
						<p><span> -</span><strong>The Numbers</strong><span> (3, 2, 2 and 1 in the above example) indicate the octave. </span>
						<em><span>All octaves start on the &quot;c&quot; key. Octave 4 is in the middle of the keyboard. </span><br />
							</em><span>-</span><strong>Lowercase Letters</strong><span> (a,b,c,d,e,f,g) indicate the note names as natural </span>
						<em>(the white keys)</em><span> </span><br /><span>-</span><strong>Uppercase Letters</strong><span> (A,C,D,F,G) indicate the note names as sharp, 
							ie: A#,C#,D#,F#,G# </span><em>(the black keys)</em><span>. Adding the sharp symbol after the note is also acceptable, but using the upper/lower case 
							method is recommended because it saves space. </span><em>Note: For simplicity (and to not confuse &quot;b&quot; notes with &quot;flats&quot;,
							&quot;sharps&quot; are used exclusively instead of &quot;flats&quot;. eg: The note, &quot;B flat&quot;, is represented by its equivalent, &quot;A#&quot; 
							or just &quot;A&quot;.</em><span> </span><br /><span>-</span><strong>The &quot;|&quot; symbols </strong><span>separate measures/sections of notes </span><br />
						<span>-</span><strong>The &quot;-&quot; symbols</strong><span> are used for spacing between notes. These dashes indicate timing - the more dashes there are, 
							the longer the time between the notes.</span></p>
						<p>
						<strong>Reading Piano Tabs (advanced options):</strong></p>
						<p>Piano tabs can describe individual notes 
						(as seen above) or chord names or both. Here's a more advanced example of a piano tab that describes both:</p>
						<blockquote>
							<pre><span>       [</span><strong>D</strong><span>]      [</span><strong>Gm</strong><span>]
  R 3|--a-d-F-|--g-d-g-|--------|
  L 2|F>d>>>>>|g>d>>>>>|F.------|x2
  L 1|F>F>>>>>|g>A>>>>>|F.------|
      
</span></pre>
						</blockquote>
						<p><span> -</span><strong>Letters on the top line </strong><span>(the [D] and the [Gm]) indicate </span>
						<strong><a href="https://tabnabber.com/piano_chords.asp" rel="nofollow ugc noopener">chord names</a></strong><span>. </span><br />
						<span>-</span><strong>&quot;R&quot;</strong><span> indicates the notes on the line are played on the </span><strong>R</strong><span>ight hand </span><br />
						<span>-</span><strong>&quot;L&quot;</strong><span> indicates the notes on the line are played on the </span><strong>L</strong><span>eft hand </span><br />
						<span>-</span><strong>The &quot;>&quot; symbols </strong><span>indicate the note should be held/sustained </span><br />
						<span>-</span><strong>The &quot;.&quot; symbols </strong><span>indicate the note should be cut (for a staccato effect) </span><br />
						<span>-The</span><strong> &quot;x2&quot; </strong><span>indicates the preceding staff lines (everything to the left) should be repeated the number of times indicated 
							(2 in this example)</span>
						</p>
						<p><strong>Multiple Instrument / Track Tabs:</strong></p>
						<p>Multi-track tabs allow you to compose an entire symphony with multiple instruments / tracks in your songs. 
						Here's an example of a simple multi-track tab:</p>
						<blockquote>
							<pre>  The first number or letter shown is the track/instrument.   
  ^ The second number shown is the octave.     
  ^ ^
  1:4|c-e-c-e---
      </pre><p>In the example above, the 1:4 means track/instrument 1, octave 4. This can also be written as:</p>
							<pre>
  P:4|c-e-c-e---
      
</pre><p>The 'P' signifies a 'Piano' track. Here are some other instrument options:</p><pre>
  F:5|c--------
  G:4|--e-e-e--
  D:3|d-d-D-d--
      
</pre><p>'F' is Flute, 'G' is Guitar, and 'D' is Drum (different notes/pitches of the drum track play different percussion sounds). 
						But if you specify the instrument using the instrument numbers, there are 128 different instruments you can specify (1-128). 
						For example:</p><pre>
 7:4|-----------c-e-------------------c-e-------
18:4|-------------------g>>>>>>>>>--------------
63:4|-----------------------------c-e-----------
 D:4|--dded--dded--dded--dded--dded--dded--dded-
     
</pre>
						</blockquote>

						
						
						<p><strong>Other Notations</strong></p><p><span>We get it. Tabs aren't everyone's </span><em>forte</em><span>. 
						A universally accepted method to reading and writing music just does not exist, and that's probably a good thing. 
						TabNabber's all natural organic non GMO tab notation is obviously the superior choice, but there hasn't ever been (and likely never will be) 
						one and only one type of notation. The intricacies of the audio world simply cannot be captured in written notation without sacrificing reading 
						comprehension for accuracy. Even if there was a common notation that everyone loved and used some jackhole with a website would probably come along 
						with SongDong.com and ruin it for everyone. wait... what was I talking about again?</span><br /><br /><span>Music notation comes in many different forms, 
						here are the most common:</span></p>
						<p><strong>.mid .midi</strong><span> </span></p><p>
	A midi file. Short for, Musical Instrument Digital Interface, midi are generally small files containing audio data. 
						The notes inside midi files can be viewed in a Midi to Tab Converter.
						
						</p>
						<p><strong>.nwc</strong></p><p><span>NWC is used by &quot;Noteworthy Composer&quot;, free music composer software. 
						Scores written in &quot;Noteworthy&quot; have the file extension .nwc. </span>
						<a href="http://www.noteworthysoftware.com/player/" rel="nofollow ugc noopener">Get &quot;Noteworthy Composer&quot;</a>
						
						</p>
						<p><strong>.mus</strong></p><p><span>MUS files or &quot;Coda Notation Files&quot; are used by &quot;Finale&quot; music composer software. 
						Scores written in &quot;</span><a href="http://www.finalemusic.com/" rel="nofollow ugc noopener">Finale</a><span>&quot; have the file extension .mus. 
						The &quot;Finale&quot; software is not free, but another software called &quot;</span>
						<a href="http://www.finalemusic.com/notepad/" rel="nofollow ugc noopener">Notepad</a><span>&quot; (made by the same company) allows you to view MUS files.</span>
							</p>
						
						<p><strong>.ove</strong></p><p><span>OVE files are used by the pricey software &quot;Overture&quot; made by </span>
						<a href="http://sonicscores.com/" rel="nofollow ugc noopener">Sonic Scores</a><span>. Scores written in &quot;Overture&quot; have the file extension .ove. 
						They also make a slimmed down version of the product called &quot;Score Writer&quot; which is slightly more affordable.</span></p>
						
						<p><strong>.pdf</strong>
						</p>
						<p><span>PDF files are used by &quot;Adobe Acrobat&quot; or &quot;Adobe Acrobat Reader&quot; software made by </span>
						<a href="http://www.adobe.com/" rel="nofollow ugc noopener">Adobe Adobe</a><span>. PDFs can contain pictures of sheet music or scores. 
							They are nearly impossible to edit and extremely difficult to read, unless you know </span><strong>how to read sheet music.</strong></p>
						<p><strong>.ptb</strong></p>
						<p><span>PTB files are Power Tab files created with the freely available (at least for now) &quot;Power Tab Editor&quot; music composer software. </span>
						<a href="http://www.power-tab.net/downloads.php" rel="nofollow ugc noopener">Get it</a></p>
						
						<p><strong>.jpg .gif .png .tif .bmp</strong><span> </span></p>
						<p>JPEG, GIF, PNG, TIF, BMP are just a few of the many image file formats in use, typically pictures of sheet music or scores. They are nearly impossible 
							to edit and extremely difficult to read, unless you know 
						<strong><a href="how-to-read-sheet-music-notes.html" rel="nofollow ugc noopener">how to read sheet music</a></strong>
						</p>
						<p>
						<strong>.zip</strong></p>
						<p>A file compressed using <a href="http://www.winzip.com/" rel="nofollow ugc noopener">WinZip software</a>, 
							possibly containing sheet music. Use caution when opening these types of files as they can also contain viruses.
						</p>
						<p><strong>.rar</strong></p>
						<p><span>A file compressed using </span>
						<a href="http://www.rarlab.com/" rel="nofollow ugc noopener">WinRAR software</a><span>, possibly containing sheet music. Use caution when opening these types of files 
							as they can also contain viruses.</span></p>
						<div><hr /></div>
			



					</div>



				</div>

			</div>








	<div class="vertPad10 fontsize9">
		Last Updated: Nov 19, 2025
	</div>



	</div>


	{% include right.html %}

	</div>


	{% include footer.html %}

</body>
</html>

